<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Viridian.Properties.VirtualSystemSettingData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Viridian.Properties.Environment" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Viridian.Properties.VirtualSystemSettingData_x0020_" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Viridian.Properties.ComputerSystem" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Viridian.Properties.VirtualSystemSettingData>
            <setting name="RealizedVirtualMachine" serializeAs="String">
                <value>Microsoft:Hyper-V:System:Realized</value>
            </setting>
            <setting name="PlannedVirtualMachine" serializeAs="String">
                <value>Microsoft:Hyper-V:System:Planned</value>
            </setting>
            <setting name="RealizedVirtualMachineSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Realized</value>
            </setting>
            <setting name="RecoveryVirtualMachineSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Recovery</value>
            </setting>
            <setting name="PlannedVirtualMachineSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Planned</value>
            </setting>
            <setting name="MissingSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Missing</value>
            </setting>
            <setting name="TimeBasedReplicationPointSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Replica:Standard</value>
            </setting>
            <setting name="VSSReplicationPointSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Replica:ApplicationConsistent</value>
            </setting>
            <setting name="PlannedReplicationSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Replica:PlannedFailover</value>
            </setting>
            <setting name="Msvm_SettingsDefineState" serializeAs="String">
                <value>Msvm_SettingsDefineState</value>
            </setting>
            <setting name="Msvm_SnapshotOfVirtualSystem" serializeAs="String">
                <value>Msvm_SnapshotOfVirtualSystem</value>
            </setting>
            <setting name="Msvm_LastAppliedSnapshot" serializeAs="String">
                <value>Msvm_LastAppliedSnapshot</value>
            </setting>
        </Viridian.Properties.VirtualSystemSettingData>
        <Viridian.Properties.Environment>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Virtualization" serializeAs="String">
                <value>\Root\Virtualization\V2</value>
            </setting>
            <setting name="VirtualSystemSubtype" serializeAs="String">
                <value>Microsoft:Hyper-V:SubType:2</value>
            </setting>
            <setting name="ConfigurationDataRoot" serializeAs="String">
                <value>C:\ProgramData\Microsoft\Windows\Hyper-V\</value>
            </setting>
            <setting name="Storage" serializeAs="String">
                <value>\Root\Microsoft\Windows\Storage</value>
            </setting>
        </Viridian.Properties.Environment>
        <Viridian.Properties.VirtualSystemSettingData_x0020_>
            <setting name="RealizedVirtualMachine" serializeAs="String">
                <value>Microsoft:Hyper-V:System:Realized</value>
            </setting>
            <setting name="PlannedVirtualMachine" serializeAs="String">
                <value>Microsoft:Hyper-V:System:Planned</value>
            </setting>
            <setting name="RealizedVirtualMachineSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Realized</value>
            </setting>
            <setting name="RecoveryVirtualMachineSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Recovery</value>
            </setting>
            <setting name="PlannedVirtualMachineSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Planned</value>
            </setting>
            <setting name="MissingSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Missing</value>
            </setting>
            <setting name="TimeBasedReplicationPointSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Replica:Standard</value>
            </setting>
            <setting name="VSSReplicationPointSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Replica:ApplicationConsistent</value>
            </setting>
            <setting name="PlannedReplicationSnapshot" serializeAs="String">
                <value>Microsoft:Hyper-V:Snapshot:Replica:PlannedFailover</value>
            </setting>
        </Viridian.Properties.VirtualSystemSettingData_x0020_>
        <Viridian.Properties.ComputerSystem>
            <setting name="MicrosoftVirtualComputerSystem" serializeAs="String">
                <value>Microsoft Virtual Computer System</value>
            </setting>
            <setting name="MicrosoftHostingComputerSystem" serializeAs="String">
                <value>Microsoft Hosting Computer System</value>
            </setting>
        </Viridian.Properties.ComputerSystem>
    </userSettings>
</configuration>