@page "/account"
@inject HttpClient Http


<h1>My account details</h1>
<h3> Personal details</h3>
<div class="container">
    <table class="table">
        <tbody>
        @if (accounts == null)
        {
            <tr>Loading...</tr>
        }
        else
        {
            @foreach (var account in accounts)
            {
                <tr>
                    <td><label for="email"><b>Email : </b></label></td>
                    <td><input type="text" placeholder=@account.Email @bind="_editAccount.Email"></td>
                </tr>
                <tr>
                    <td><label for="text"><b>First name : </b></label></td>
                    <td><input type="text" placeholder=@account.FirstName @bind="_editAccount.FirstName"></td>
                </tr>
                <tr>
                    <td><label for="text"><b>Last name : </b></label></td>
                    <td><input type="text" placeholder=@account.LastName @bind="_editAccount.LastName"></td>
                </tr>
                <tr>
                    <td><label for="psw"><b>Password : </b></label></td>
                    <td><input type="text" placeholder=@account.Password @bind="_editAccount.Password"></td>
                </tr>
                <tr>
                    <td><label for="txt"><b>Work Place : </b></label></td>
                    <td><input type="text" placeholder=@account.Workplace @bind="_editAccount.Workplace"></td>
                </tr>
                <tr>
                    <td> <label for="txt"><b>Position title : </b></label></td>
                    <td><input type="text" placeholder=@account.PositionTitle @bind="_editAccount.PositionTitle"></td>
                </tr>
                <tr>
                    <td><label for="no"><b>Contact no. : </b></label></td>
                    <td><input type="text" placeholder=@account.ContactNumber @bind="_editAccount.ContactNumber"></td>
                </tr>
            }
        }
        </tbody>
    </table>
    <div class="container signin">
        <p>Edit account details? <button @onclick="@SaveItem">Modify</button></p>
    </div>
</div>


@code {
    private AccountDetails _editAccount = new AccountDetails();

    private AccountDetails[] accounts;

    protected override async Task OnInitializedAsync() => await GetTodoItems();

    private async Task GetTodoItems()
    {
        accounts = await Http.GetJsonAsync<AccountDetails[]>("sample-data/account.json");
    }

    private void EditItem(int id)
    {
        var editItem = accounts.Single(i => i.AccountId == id);
        _editAccount = new AccountDetails {
            AccountId = editItem.AccountId,
            Email = editItem.Email,
            FirstName = editItem.FirstName,
            LastName = editItem.LastName,
            Password = editItem.Password,
            Workplace = editItem.Workplace,
            PositionTitle = editItem.PositionTitle,
            ContactNumber = editItem.ContactNumber
        };
    }

    private async Task SaveItem() {
        EditItem(1);
        // PUT -> to be done from API?
        await Http.PutJsonAsync<AccountDetails>("/sample-data/account.json", _editAccount);
        await GetTodoItems();
    }
    
    public class AccountDetails
    {
        public int AccountId { get; set; }

        public string Email { get; set; }

        public string FirstName { get; set; }

        public string LastName { get; set; }

        public string Password { get; set; }

        public string Workplace { get; set; }

        public string PositionTitle { get; set; }

        public string ContactNumber { get; set; }
    }
}
