@page "/account"


<h1>My account details</h1>


<div class="container">

    <br /><br /><h3> Personal details</h3><br />

    <label for="email"><b>Email : </b></label>
    <input type="text" placeholder="email@email.com" readonly<br /><br />

    <label for="text"><b>First name : </b></label>
    <input type="text" placeholder="John"readonly <br /><br />

    <label for="text"><b>Last name : </b></label>
    <input type="text" placeholder="Doe" readonly<br /><br />

    <label for="psw"><b>Password : </b></label>
    <input type="password" placeholder="psw" readonly><br /><br />


    <label for="txt"><b>Work Place : </b></label>
    <input type="text" placeholder="Work Place" readonly><br /><br />

    <label for="txt"><b>Position title : </b></label>
    <input type="text" placeholder="Position title" readonly><br /><br />


    <label for="no"><b>Contact no. : </b></label>
    <input type="number" placeholder="+040754336558" readonly><br />
    <hr>

    <div class="container signin">
        <p>Edit account details? <a href="#">Modify</a>.</p><br />
    </div>
</div>



    @code {
        private int currentCount = 0;

        private void IncrementCount()
        {
            currentCount++;
        }
    }
