@page "/register"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h1>Register</h1>


<div class="container">
    <div class="row">
        <p>Please fill in this form to create an account.</p>
    </div>

    <div class="row">
        <div class="col">
            <label for="text"><b>First name</b></label>
        </div>
        <div class="col">
            <input type="text" placeholder="First name" name="name" @bind="Account.FirstName" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="text"><b>Last name</b></label>
        </div>
        <div class="col">
            <input type="text" placeholder="Last name" name="name" @bind="Account.LastName" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="email"><b>Email</b></label>
        </div>
        <div class="col">
            <input type="text" placeholder="Enter Email" name="email" @bind="Account.Email" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="psw"><b>Password</b></label>
        </div>
        <div class="col">
            <input type="password" placeholder="Enter Password" name="psw" @bind="Account.Password" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="psw-repeat"><b>Repeat Password</b></label>
        </div>
        <div class="col">
            <input type="password" placeholder="Repeat Password" name="psw-repeat" @bind="repeatPass" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="txt"><b>Work Place</b></label>
        </div>
        <div class="col">
            <input type="text" placeholder="Work Place" name="work" @bind="Account.Workplace" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="txt"><b>Position title</b></label>
        </div>
        <div class="col">
            <input type="text" placeholder="Position title" name="group" @bind="Account.PositionTitle" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="no"><b>country</b></label>
        </div>
        <div class="col">
            <input type="text" placeholder="Contact no." name="co-no" @bind="Account.Country" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="no"><b>Contact no.</b></label>
        </div>
        <div class="col">
            <input type="number" placeholder="Contact no." name="co-no" @bind="Account.ContactNumber" required>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p><button @onclick="@SaveItem">Register</button></p>
        </div>
        <div class="col">
            <p><button @onclick="Back">Back</button></p>
        </div>
    </div>

    @if (inputErr)
    {
        <div class="row">
            <div class="col">
                <p>@errMsg</p>
            </div>
        </div>
    }

    <div class="container signin">
        <p>Already have an account? <a role="button" @onclick="Login">Sign in</a>.</p><br />
    </div>
</div>



@code {

    private bool inputErr = false;
    private string errMsg = "";

    private string repeatPass = "";

    private string apiUrl = "https://localhost:44386/api/users";

    private AccountDetails Account = new AccountDetails();
    private AccountDetails _editAccount = new AccountDetails();

    private AccountDetails[] accounts;

    //protected override async Task OnInitializedAsync() => await GetTodoItems();

    private async Task GetTodoItems()
    {
        var name = await sessionStorage.GetItemAsync<string>("token");
        Http.DefaultRequestHeaders.Add("Authorization", "Bearer " + name);
        accounts = await Http.GetJsonAsync<AccountDetails[]>(apiUrl);
    }

    private void InsertUser()
    {
        // TODO: find another way to check FE input validation data
        //var editItem = accounts.FirstOrDefault(i => i.Email == Account.Email);
        //if (editItem == null)
        //{
            if (Account.Password == repeatPass)
            {
                _editAccount = new AccountDetails
                {
                    FirstName = Account.FirstName,
                    LastName = Account.LastName,
                    Email = Account.Email,
                    Country = Account.Country,
                    Password = Account.Password,
                    Rights = "0",
                    Workplace = Account.Workplace,
                    PositionTitle = Account.PositionTitle,
                    ContactNumber = Account.ContactNumber,
                    VMS = null
                };
            }
            else
            {
                inputErrMsg(2);
            }

        //}
        //else
        //{
        //    inputErrMsg(1);
        //}

    }


    private void inputErrMsg(int code)
    {

        switch (code)
        {
            case 1:
                errMsg = "E-mail already in use!";
                break;
            case 2:
                errMsg = "Passwords do not match!";
                break;
            default:
                errMsg = "";
                break;
        }
        inputErr = true;
    }

    private async Task SaveItem()
    {
        InsertUser();
        await Http.PostJsonAsync<AccountDetails>(apiUrl, Account);
        await GetTodoItems();
        NavigationManager.NavigateTo("");
    }

    private void Back()
    {
        NavigationManager.NavigateTo("");
    }

    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }

    public class AccountDetails
    {
        public string UserId { get; set; }

        public string FirstName { get; set; }

        public string LastName { get; set; }

        public string Email { get; set; }

        public string Country { get; set; }

        public string Password { get; set; }

        public string Rights { get; set; }

        public string Workplace { get; set; }

        public string PositionTitle { get; set; }

        public string ContactNumber { get; set; }

        public ICollection<VM> VMS { get; set; }
    }

    public class VM
    {
        public Guid VMId { get; set; }
        public string RealID { get; set; }
        public string Name { get; set; }
        public string Configuration { get; set; }
        public string LastSave { get; set; }
        public ICollection<Networks> Networks { get; set; }
        public int RAM { get; private set; }
        public int Cores { get; private set; }
        public virtual ICollection<SC> SCs { get; private set; }
        public Guid UserId { get; set; }
    }

    public class Networks
    {
        public Guid NetId { get; private set; }
        public string Name { get; private set; }
        public string Notes { get; private set; }
        public string InstanceID { get; private set; }
        public Guid VMId { get; private set; }
    }

    public class SC
    {
        public Guid SCId { get; private set; }
        public string Name { get; private set; }
        public string InstanceId { get; private set; }
        public virtual ICollection<VHD> VHDs { get; private set; }
        public virtual ICollection<CDDVD> CDDVDs { get; private set; }
        public Guid VMId { get; private set; }
    }

    public class VHD
    {
        public Guid VHDId { get; private set; }
        public Guid SCId { get; private set; }
        public string Name { get; private set; }
        public string InstanceId { get; private set; }
        public string Path { get; private set; }
        public int Size { get; private set; }
    }

    public class CDDVD
    {
        public Guid CDDVDId { get; private set; }
        public string InstanceId { get; private set; }
        public string Name { get; private set; }
        public Guid SCId { get; private set; }
    }
}
