@page "/register"
@inject HttpClient Http

<h1>Register</h1>


<div class="container">
    <br />
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" @bind="email" required><br /><br />

    <label for="text"><b>First name</b></label>
    <input type="text" placeholder="First name" name="name" @bind="fname" required><br /><br />

    <label for="text"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="name" @bind="lname" required><br /><br />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" @bind = "psw" required><br /><br />

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" @bind = "rpsw" required><br /><br />


    <label for="txt"><b>Work Place</b></label>
    <input type="text" placeholder="Work Place" name="work" @bind = "wplace" required><br /><br />

    <label for="txt"><b>Position title</b></label>
    <input type="text" placeholder="Position title" name="group" @bind = "group" required><br /><br />


    <label for="no"><b>Contact no.</b></label>
    <input type="number" placeholder="Contact no." name="co-no" @bind = "co_no" required><br />
    <hr>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p><br />
    </div>
</div>



@code {

    static string email = @email;
    static string fname = @fname;
    static string lname = @lname;
    static string psw = @psw;
    static string rpsw = @rpsw;
    static string wplace = @wplace;
    static string group = @group;
    static string co_no = @co_no;


    private AccountDetails Account = new AccountDetails();

    private AccountDetails[] accounts;

    private void InsertUser(int id)
    {

        Account = new AccountDetails
        {
            AccountId = id,
            Email = @email,
            FirstName = fname,
            LastName = lname,
            Password = psw,
            Workplace = rpsw,
            PositionTitle = wplace,
            ContactNumber = co_no
        };
    }

    private async Task SaveItem()
    {
        InsertUser(2);
        await Http.PutJsonAsync<AccountDetails>("/sample-data/account.json", Account);
        await GetTodoItems();
    }
    
    protected override async Task OnInitializedAsync() => await GetTodoItems();

    private async Task GetTodoItems()
    {
        accounts = await Http.GetJsonAsync<AccountDetails[]>("sample-data/account.json");
    }

    public class AccountDetails
    {
        public int AccountId { get; set; }

        public string Email { get; set; }

        public string FirstName { get; set; }

        public string LastName { get; set; }

        public string Password { get; set; }

        public string Workplace { get; set; }

        public string PositionTitle { get; set; }

        public string ContactNumber { get; set; }
    }
}
