@page "/register"


<h1>Register</h1>


<div class="container">
    <br />
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required><br /><br />

    <label for="text"><b>First name</b></label>
    <input type="text" placeholder="First name" name="name" required><br /><br />

    <label for="text"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="name" required><br /><br />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br /><br />

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br /><br />


    <label for="txt"><b>Work Place</b></label>
    <input type="text" placeholder="Work Place" name="work" required><br /><br />

    <label for="txt"><b>Position title</b></label>
    <input type="text" placeholder="Position title" name="group" required><br /><br />


    <label for="no"><b>Contact no.</b></label>
    <input type="number" placeholder="Contact no." name="co-no" required><br />
    <hr>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p><br />
    </div>
</div>

    <button class="btn btn-primary" @onclick="IncrementCount">Register now!</button>


    @code {
        private int currentCount = 0;

        private void IncrementCount()
        {
            currentCount++;
        }
    }
