@inherits LayoutComponentBase
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
</AuthorizeView>
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
